.rootClass {
	@apply flex h-full w-full items-start justify-center p-8 sm:p-20;
}

.card {
	@apply w-[350px] rounded-lg bg-bg_modal shadow-lg sm:w-[600px];
}

.cardHeader {
	@apply border-b border-border_grey p-4;
}

.cardBody {
	@apply px-4 py-4 sm:px-12;
}

.formFields {
	@apply flex w-full flex-col gap-y-4;
}

.footer {
	@apply my-8 flex w-full justify-center;
}

.submitButton {
	@apply px-12;
}
