// Copyright 2019-2025 @polkassembly/polkassembly authors & contributors
// This software may be modified and distributed under the terms
// of the Apache-2.0 license. See the LICENSE file for details.

.warningAlert {
	@apply mb-4 border-red-300 bg-red-50;
	@apply sm:mb-3 sm:p-3;
}

:global(.dark) .warningAlert {
	@apply border-red-700 bg-red-950;
}

.warningDescription {
	@apply flex items-start gap-2 font-medium leading-6;

	@apply sm:items-center sm:gap-1.5 sm:text-sm;

	span {
		@apply flex-1 break-words;
	}
}
