.container {
	@apply rounded-xl border border-turnout_color bg-issuance_color/15 p-4;
}

.infoTitle {
	@apply mb-5 text-xl font-semibold text-text_primary;
}

.infoCard {
	@apply flex flex-col gap-2;
}

.infoCardTitle {
	@apply text-base font-semibold text-text_primary;
}

.infoCardText {
	@apply text-sm font-medium text-basic_text;
}
