.chatModal {
	@apply flex rounded-xl bg-bg_modal p-[1px];
	background-image: conic-gradient(from 136.17deg at 53.41% 52.82%, #51d36e 0deg, #e5007a 77.42deg, #3473ff 158.47deg, #ffd663 270deg, #51d36e 360deg);
}

.container {
	@apply flex h-full w-full flex-1 flex-col rounded-[10.5px] bg-bg_modal;
}

.newChatBtnContainer {
	@apply flex w-full rounded-xl bg-bg_modal p-[1px];
	background-image: linear-gradient(90deg, #e5007a 0%, #3473ff 50%, #51d36e 74.04%, #ffd04c 96.15%);
}

.newChatBtn {
	@apply flex w-full cursor-pointer items-center justify-center gap-1 rounded-[10.5px] bg-bg_modal px-3 py-1 text-sm text-basic_text disabled:pointer-events-none disabled:text-gray-500 disabled:grayscale;
}

.hide_scrollbar {
	@apply overflow-y-auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide_scrollbar::-webkit-scrollbar {
	@apply hidden;
}

.conversations {
	@apply flex flex-col overflow-hidden bg-bg_modal;
}
