.sidebarTrigger {
	@apply relative flex items-center justify-center;
}

.sidebarButtonCollapse {
	@apply flex w-40 cursor-pointer items-center justify-center rounded-md px-3 py-1.5 transition-colors duration-200;
}

.menuItem {
	@apply flex h-8 w-full cursor-pointer items-center justify-between rounded-md px-1.5 py-1 text-sm transition-colors duration-200 hover:bg-sidebar_accent;
}

.subItemCount {
	@apply ml-auto rounded-lg bg-gray-200 px-1.5 py-1 text-xs font-medium;
}

.sidebarActive {
	@apply bg-sidebar_menu_active font-medium text-sidebar_menu_active_text;
}

.iconWrapper {
	@apply flex h-8 w-8 items-center justify-center fill-none;
}

.sidebar_selected_icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(7151%) hue-rotate(321deg) brightness(90%) contrast(101%);
	fill: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(7151%) hue-rotate(321deg) brightness(90%) contrast(101%);
}

.newBadge {
	@apply absolute -right-3 -top-1 rounded-full bg-blue-500 px-2 py-[0.1rem] text-[0.625rem] text-white;
}

.newBadge_expanded {
	@apply ml-2 rounded-full bg-blue-500 px-1.5 text-xs text-white;
}

.popoverContent {
	@apply w-56 border border-gray-300 bg-[var(--sidebar-primary-foreground)] p-3;
}

.menuList {
	@apply space-y-1;
}

.nestedTrigger {
	@apply flex w-full cursor-pointer items-center justify-between rounded-md px-3 py-1 text-sm transition-colors duration-200 hover:bg-sidebar_accent;
}

.itemTitle {
	@apply flex-1 whitespace-nowrap text-sidebar_title;
}

.chevron {
	@apply h-4 w-4 text-sidebar_title transition-transform duration-200;
}

.chevron_active {
	@apply text-sidebar_menu_active_text;
}

.chevronRotate {
	@apply rotate-90;
}

.nestedCollapsible {
	@apply w-full;
}

.nestedButton {
	@apply w-full;
}

.nestedList {
	@apply space-y-1;
}

.mainCollapsible {
	@apply w-full;
}

.mainButton {
	@apply flex w-full items-center justify-between rounded-md px-3 py-2 transition-colors duration-200 hover:bg-sidebar_accent;
}

.mainTitle {
	@apply flex flex-1 items-center;
}

.mainList {
	@apply space-y-1;
}

.triggerWrapper {
	@apply relative cursor-pointer;
}

.darkIcon {
	filter: none;
}

:global(.dark) .darkIcon {
	filter: brightness(101%) contrast(93%) saturate(15%) hue-rotate(141deg) invert(56%) sepia(0);
}
