.sidebarTrigger {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebarButtonCollapse {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.sidebarButtonHover {
	&:hover {
		background-color: #e5e7eb; /* Tailwind gray-200 */
	}
}

.sidebarActive {
	background-color: #fce6f1;
	color: #ff0080;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
}

.sidebar_selected_icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(7151%) hue-rotate(321deg) brightness(90%) contrast(101%);
}

.newBadge {
	position: absolute;
	right: -12px;
	top: -5px;
	border-radius: 9999px;
	background-color: #3b82f6; /* Tailwind blue-500 */
	padding: 0.1rem 0.4rem;
	font-size: 0.625rem; /* Tailwind text-xs */
	color: #fff;
}
