.treasuryBalanceWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.treasuryInfo {
			display: flex;
			align-items: center;
			gap: 4px;

			.title {
				font-size: 12px;
				font-weight: 400;
			}

			.infoIcon {
				cursor: pointer;
				width: 16px;
				height: 16px;
			}

			.monthlyBadge {
				border-radius: 2px;
				background-color: rgba(72, 95, 125, 0.05);
				padding: 4px 6px;
				font-size: 10px;
				font-weight: 500;
				color: rgba(72, 95, 125, 0.8);
			}
		}

		.tokenPrice {
			display: flex;
			align-items: baseline;
			gap: 6px;

			.tokenSymbol {
				font-size: 12px;
				font-weight: 400;
			}

			.price {
				font-size: 18px;
				font-weight: 500;
				color: #485f7d;
			}

			.change {
				display: flex;
				align-items: center;
				gap: 2px;
				font-size: 12px;
				font-weight: 500;

				&.positive {
					color: #52c41a;

					.upArrow {
						width: 16px;
						height: 16px;
					}
				}

				&.negative {
					color: #f53c3c;

					.downArrow {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}

	.detailsWrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.detailsHeader {
			display: flex;
			gap: 6px;
			align-items: baseline;

			.totalValue {
				font-size: 20px;
				font-weight: 500;
			}

			.detailsLink {
				display: flex;
				align-items: center;
				gap: 2px;
				cursor: pointer;

				.linkText {
					font-size: 12px;
					font-weight: 400;
					color: #e5007a;
				}

				.arrowIcon {
					cursor: pointer;
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}
