.headerWrapper {
	@apply w-full bg-bg_modal px-4 pt-6 shadow-lg lg:px-16;
}

.detailsWrapper {
	@apply grid w-full gap-y-4 px-4 py-6 lg:gap-4 lg:px-16;
	overflow-x: hidden;
}

.leftWrapper {
	@apply col-span-2 flex w-full flex-col gap-y-4;
}

.rightWrapper {
	@apply col-span-1 flex w-full flex-col gap-y-6;
}

.descBox {
	@apply rounded-xl bg-bg_modal p-4 shadow-lg lg:p-6;
}

.commentsBox {
	@apply flex flex-col gap-y-4 rounded-xl bg-bg_modal shadow-lg;
}

.modalDescBox {
	@apply flex max-h-96 overflow-y-auto border-none lg:w-full;
	max-width: 100%;
}

.analyticsBox {
	@apply rounded-xl bg-bg_modal p-4 shadow-lg lg:p-6;
}

.modalOpen {
	grid-template-columns: 1fr !important;
}

.detailsWrapper {
	@media (max-width: 1279px) {
		display: grid !important;
		grid-template-columns: 1fr !important;
		gap: 16px;
		padding-left: 12px;
		padding-right: 12px;
	}
}

.leftWrapper {
	@media (max-width: 1279px) {
		display: block;
		width: 100%;
	}
}

.descBox {
	@media (max-width: 1279px) {
		order: 1;
	}
}

.rightWrapper {
	@media (max-width: 1279px) {
		order: 2;
	}
}

.commentsBox {
	@apply mt-3;

	@media (max-width: 1279px) {
		order: 3;
	}
}
