.headerWrapper {
	@apply sticky top-12 z-20 w-full bg-bg_modal px-4 pt-6 shadow-lg lg:px-16;
}

.detailsWrapper {
	@apply grid w-full gap-y-4 px-4 py-6 lg:gap-4 lg:px-16;
	overflow-x: hidden;
}

.leftWrapper {
	@apply col-span-2 flex w-full flex-col gap-y-4;

	@media (max-width: 1279px) {
		display: contents;
	}
}

.rightWrapper {
	@apply col-span-1 flex w-full flex-col gap-y-6;

	@media (max-width: 1279px) {
		order: 2;
	}

	@media (max-width: 768px) {
		@apply gap-y-4;
	}
}

.descBox {
	@apply rounded-xl border border-primary_border bg-bg_modal p-4 lg:p-6;

	@media (max-width: 1279px) {
		order: 1;
	}

	@media (max-width: 768px) {
		@apply p-3;
	}
}

.commentsBox {
	@apply mt-5 flex flex-col gap-y-4 rounded-xl border border-primary_border bg-bg_modal;

	@media (max-width: 1279px) {
		order: 3;
	}
}

.modalDescBox {
	@apply flex max-h-96 overflow-y-auto border-none lg:w-full;
	max-width: 100%;
}

.analyticsBox {
	@apply rounded-xl border border-border_grey bg-bg_modal p-4 lg:p-6;

	@media (max-width: 768px) {
		@apply p-3;
	}
}

.modalOpen {
	grid-template-columns: 1fr !important;
}
