.headerWrapper {
	@apply w-full max-w-[100vw] bg-bg_modal px-4 pt-6 shadow-lg lg:px-16;
}

.detailsWrapper {
	@apply grid w-full gap-y-4 px-4 py-6 lg:gap-4 lg:px-16;
}

.leftWrapper {
	@apply col-span-2 flex flex-col gap-y-4;
}

.rightWrapper {
	@apply col-span-1 flex flex-col gap-y-6;
}

.descBox {
	@apply rounded-xl bg-bg_modal p-4 shadow-lg lg:p-6;
}

.commentsBox {
	@apply flex flex-col gap-y-4 rounded-xl bg-bg_modal shadow-lg;
}

.modalDescBox {
	@apply flex max-h-96 w-96 overflow-y-auto border-none lg:w-full;
}

.modalOpen {
	grid-template-columns: 1fr !important;
}

.detailsWrapper {
	@media (max-width: 1279px) {
		display: grid !important;
		grid-template-columns: 1fr !important;
		gap: 16px;
	}
}

.leftWrapper {
	@media (max-width: 1279px) {
		display: contents;
	}
}

.descBox {
	@media (max-width: 1279px) {
		order: 1;
	}
}

.rightWrapper {
	@media (max-width: 1279px) {
		order: 2;
	}
}

.commentsBox {
	@media (max-width: 1279px) {
		order: 3;
	}
}

.userVoteCard {
	@apply flex flex-col gap-y-3 rounded-xl bg-bg_modal p-4 shadow-lg lg:p-6;
}

.userVoteCardLayout {
	@apply flex items-center justify-between;
}

.userVoteCardTitle {
	@apply text-xl font-semibold text-text_primary;
}

.userVoteCardTitleIcon {
	@apply flex items-center gap-1 text-base font-semibold text-text_primary;
}

.userVoteCardRemoveButton {
	@apply m-0 !p-0 text-xs font-medium text-text_pink hover:text-text_pink/80;
}
