.timestamp {
    color: #666;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

.originStyle {
    @apply rounded-md px-1.5 py-1 text-xs;
}

.progressBarContainer {
    @apply flex bg-voting_bar_bg text-white p-3 w-48 rounded-md flex-col;
}

.commentContainer {
    @apply flex items-center gap-1;
}

.timeBarContainer {
    @apply flex bg-voting_bar_bg text-white p-3 w-60 rounded-md flex-col;
}

.requestedAmount {
    @apply font-medium text-text_primary text-base flex items-center gap-1
}