// Copyright 2019-2025 @polkassembly/polkassembly authors & contributors
// This software may be modified and distributed under the terms
// of the Apache-2.0 license. See the LICENSE file for details.

@keyframes slide {
	0% {
		transform: translate3d(0%, 0, 0);
	}

	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.animateMarquee {
	animation: slide 20s linear infinite;
	-webkit-animation: slide 20s linear infinite;
	will-change: transform;
	backface-visibility: visible;
}

@media (prefers-reduced-motion: reduce) {
	.animateMarquee {
		animation: none;
		-webkit-animation: none;
	}
}
