.header {
	@apply flex w-full flex-col gap-y-4 bg-bg_modal;
}

.header_container {
	@apply mx-auto grid w-full max-w-7xl grid-cols-1 gap-5 px-4 pt-5 lg:px-16;
}

.header_create_button {
	@apply flex items-center gap-x-2 rounded-md bg-bg_pink px-3 py-1.5 text-sm text-white hover:bg-grey_bg;
}

.header_title {
	@apply text-2xl font-bold text-navbar_title;
}

.header_subtitle {
	@apply text-sm text-text_primary;
}

.header_title_container {
	@apply flex flex-col justify-between gap-y-4 md:flex-row md:items-center;
}

.header_button_container {
	@apply flex items-center gap-x-4;
}

.header_tab {
	@apply uppercase;
}

.hideScrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		/* Chrome, Safari and Opera */
		display: none;
	}
}
