.progressSection {
	@apply flex flex-col gap-y-2;
}

.progressBars {
	@apply flex w-full items-center justify-between;
}

.progressBar {
	@apply h-5 w-1 rounded-sm;
}

.progressBarSmall {
	@apply h-3 w-1 rounded-sm;
}

.filled {
	@apply bg-bg_pink;
}

.empty {
	@apply bg-empty_bar_bg;
}
