.heading {
	@apply text-base font-bold text-text_primary xl:text-sm 2xl:text-base;
}
.card {
	@apply mx-auto max-h-[500px] w-full flex-1 rounded-2xl border-[1px] border-solid border-border_grey bg-transparent p-4 text-basic_text lg:max-w-[512px];
}
.chartWrapper {
	@apply relative flex h-[180px] items-center justify-center;
}
.barChartWrapper {
	@apply relative mt-2 flex h-[250px] w-full items-center justify-center;
}
.timeSplitChartWrapper {
	@apply relative mt-4 flex h-[250px] items-center justify-center;
}
.votesDistributionChartWrapper {
	@apply relative -mt-2 flex h-[300px] items-center justify-center;
}
.chartWrapper > div,
.barChartWrapper > div,
.votesDistributionChartWrapper > div,
.timeSplitChartWrapper > div {
	height: 100% !important;
	width: 100% !important;
}
.cardWithFullWidth {
	@apply mx-auto max-h-[500px] w-full flex-1 rounded-2xl border-[1px] border-solid border-border_grey bg-transparent p-4 text-basic_text;
}

.description {
	@apply my-4 flex items-center gap-2 rounded-lg border-[1px] border-solid border-turnout_color bg-analytics_description_bg px-4 py-2 text-sm font-medium text-text_primary dark:text-white;
}

.votesDistributionChartWrapper {
	rect {
		// border-radius: 4px !important;
		rx: 4 !important;
		ry: 4 !important;
	}
}
